page-home {

}



.home {
 
    scroll-content {
        display: flex;
        flex-direction: column;
        
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
        align-items: center;
    }
}



.carta {
    background-color:#488aff;

}

.card-title {
    
    font-size: 6vw;
    font-weight: bold;
    color: #fff;
    align-self: center;
}


.credito {
    
    font-size: 25vw;
    width: 100%;
    font-weight: bold;
    color:black;
}
.sombra {
    box-shadow: 5px 10px;
}
