page-home {

}
.fila {
    height: 50%;
    width: 100%;
}
.todo{
    width: 100%;
    margin-bottom: 1%;
    

}
.texto{
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
}
.imagen{
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
}
.carta {
    background-color:#488aff;

}
.carta2 {
    background-color:green;

}
.card-title {
    
    font-size: 6vw;
    width: 100%;
    font-weight: bold;
    color: #fff;
}
.credito {
    
    font-size: 10vw;
    width: 100%;
    font-weight: bold;
    color:black;
}
